__pycache__/
.DS_Store
.env
.env_prod
.env_dev
/catboost_info
.idea/
**/*.ipynb_checkpoints/
/homeworks/hw4/hw4.zip
/homeworks/hw4/mlm-results.zip
/homeworks/hw4/results.zip
/homeworks/severstal-steel-defect-detection.zip
/homeworks/hw4/hw4/hw4/final_results/
/homeworks/hw4/hw4/hw4/mlm_results/
/homeworks/hw4/hw4/hw4/results/
/homeworks/hw4/hw4/hw4/logs/
